<nav class="m0 col-12 right bg-soft-blue fixed z2">
  <p class="m1 mr3 right inline"><%= link_to 'logout', '/logout', class: "text-decoration-none black" %></p>
  <p class="m1 right inline"><%= link_to "#{current_user.name}", '/profile', class: "text-decoration-none black" %></p>
  <p class="m1 right inline"><%= link_to "Favorites", '/favorites', class: "text-decoration-none black" %></p>
  <p class="m1 right inline"><%= link_to "Gifts", '/gifts', class: "text-decoration-none black" %></p>
  <p class="m1 right inline"><%= link_to "Home", '/dashboard', class: "text-decoration-none black" %></p>
</nav>
